<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SkyWise</title>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="assets/img/favicons/fav180.png?h=8c450abd01546622678697f22db3dc76">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/fav16.png?h=a119ef58c4c7e9dd2f93856383e0c398">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/fav32.png?h=2998f2c2ea0b9c9d42fd9f3d643e7530">
    <link rel="icon" type="image/png" sizes="180x180" href="assets/img/favicons/fav180.png?h=8c450abd01546622678697f22db3dc76">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/fav192.png?h=7562e8d2b690ec58961014a0ccee3003">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=3f30c2c47d7d23c7a994db0c862d45a5">
    <link rel="stylesheet" href="assets/css/Aclonica.css?h=d0798296ab5cc4883fdb481fd3bc3251">
    <link rel="stylesheet" href="assets/css/Acme.css?h=a7b374ab161834e88174b00cdb4a3cad">
    <link rel="stylesheet" href="assets/css/Anybody.css?h=11971b208a8a6d06f4af20e7710d1b00">
    <link rel="stylesheet" href="assets/css/Artifika.css?h=2feabe3fd8116b89e94c41eaabbf3bab">
    <link rel="stylesheet" href="assets/css/Lato.css?h=53c252a0281099ee6497f0fbdf1dc3d2">
    <link rel="stylesheet" href="assets/css/Montserrat.css?h=0bc2a65f226a8573f5c0921cac376ee3">
    <link rel="stylesheet" href="assets/css/Orbitron.css?h=056f59d97135cdabc390594cef1fe15e">
    <link rel="stylesheet" href="assets/css/Poppins.css?h=5fccd2d2a3b77bf6d16d1c5aefe33353">
    <link rel="stylesheet" href="assets/css/Roboto.css?h=563233171c86f41ccdc3a365b04652a4">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/app.css?h=1323d0aab9b2fb11db3f3d65ee36d036">
</head>

<body>
    <!-- Start: app-header -->
    <header class="bounce animated app-header">
        <div class="tada animated brand-logo-container">
            <h1>Sky<span>Wise</span></h1>
            <div class="logo-gif-container">
                <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_jmgekfqg.json" mode="bounce" background="transparent" speed="1" loop="" autoplay=""></lottie-player>
            </div>
        </div>
        <div class="tada animated city-search-container"><i class="fas fa-search-location get-location"></i>
            <form class="get-weather"><input class="form-control location-search-input" type="search" id="location-search-input" placeholder="Location" spellcheck="false"></form>
            <div class="exit-container"><i class="fas fa-home go-home"></i><i class="fas fa-sign-out-alt sign-out"></i></div>
        </div>
    </header><!-- End: app-header -->
    <!-- Start: Master-weather-container -->
    <div class="master-weather-container">
        <!-- Start: current-weather-container -->
        <div class="current-weather-container">
            <!-- Start: weather-container-main -->
            <div data-bss-hover-animate="pulse" class="weather-container-main">
                <div class="weather-main">
                    <h2 class="city-name-main">CityName</h2><img class="img-fluid weather-icon-main" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8" alt="weather-icon">
                    <p id="metrics-text" class="temp-main">00℃</p>
                    <p class="temp-description">NA</p>
                </div>
            </div><!-- End: weather-container-main -->
            <!-- Start: wind-humidity-container-main -->
            <div class="wind-humidity-container-main">
                <!-- Start: humidity-container-main -->
                <div data-bss-hover-animate="pulse" class="humidity-container-main">
                    <h4>Humidity</h4><img class="img-fluid" id="humidity-icon-main" src="assets/img/weather-icons/humidity.png?h=1791cf7465da23b08f8806bd86284938" height="96" width="96" alt="humidity">
                    <p id="metrics-text" class="humidity-main">00 %</p>
                    <div class="humidity-sub">
                        <div class="visiblity-distance"><img class="img-fluid" id="visiblity-distance-icon" src="assets/img/weather-icons/visiblity.png?h=406a897cd06757be54e76c34ab69984f" alt="visiblity" width="48" height="48">
                            <p id="metrics-text" class="visibility-distance-text">00 km</p>
                        </div>
                        <div class="atm-pressure"><img class="img-fluid" id="atm-pressure-icon" src="assets/img/weather-icons/Atm-Pressure.png?h=b8de24f23e4c3839c7ad0c5c2c208a57" alt="atm-pressure" width="48" height="48">
                            <p id="metrics-text" class="atm-pressure-text">0000 hPa</p>
                        </div>
                    </div>
                </div><!-- End: humidity-container-main -->
                <!-- Start: wind-container-main -->
                <div data-bss-hover-animate="pulse" class="wind-container-main">
                    <h4>Wind</h4><img class="img-fluid" id="wind-icon-main" src="assets/img/weather-icons/wind.png?h=ab3368ea0f5a3c2d65df83f24e0bf0f1" width="96" height="96" alt="wind">
                    <p id="metrics-text" class="wind-main">00 m/s</p>
                    <div class="wind-sub">
                        <div class="wind-direction"><img class="img-fluid wind-direction-icon" id="wind-direction-icon" src="assets/img/directions/N.png?h=f5b5ab3db27f8b967809488914e9c33e" alt="gust" width="48" height="48">
                            <p id="metrics-text" class="wind-direction-degree-text">0°</p>
                        </div>
                        <div class="gust-speed"><img class="img-fluid" src="assets/img/weather-icons/gust.png?h=f74af8c94e363ff16f821d3e87f30eb5" alt="gust" width="48" height="48">
                            <p id="metrics-text" class="gust-speed-text">0.00 m/s</p>
                        </div>
                    </div>
                </div><!-- End: wind-container-main -->
            </div><!-- End: wind-humidity-container-main -->
        </div><!-- End: current-weather-container -->
        <!-- Start: forecast-container -->
        <div class="forecast-container">
            <!-- Start: Forecast-day-1 -->
            <div id="forecast" class="day1-forecast">
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="weekday" class="day1-text">Tuesday</h5>
                    <div id="sunrise-sunset">
                        <div id="sunrise"><img class="img-fluid" src="assets/img/weather-icons/sunrise.png?h=b312b28556c1b705124ea0abbaa1c5df" width="48px" height="48px" alt="sunrise">
                            <p id="sunrise-text" class="sunrise-text1">00:00:00 AM</p>
                        </div>
                        <div id="sunset"><img class="img-fluid" src="assets/img/weather-icons/sunset.png?h=529cc9c8326232bf9dd863dca165b944" width="48px" height="48px" alt="sunset">
                            <p id="sunset-text" class="sunset-text1">00:00:00 PM</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day1-hour1">10:00 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day1-hour1-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day1-hour1-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day1-hour1-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-11">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-11">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day1-hour2">11:00 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day1-hour2-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day1-hour2-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day1-hour2-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-12">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-12">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day1-hour3">12:00 PM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day1-hour3-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day1-hour3-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day1-hour3-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-13">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-13">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day1-hour4">01:00 PM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day1-hour4-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day1-hour4-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day1-hour4-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-14">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-14">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day1-hour5">01:00 PM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day1-hour5-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day1-hour5-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day1-hour5-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-15">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-15">00.00 ℃</p>
                        </div>
                    </div>
                </div>
            </div><!-- End: Forecast-day-1 -->
            <!-- Start: Forecast-day-2 -->
            <div id="forecast" class="day2-forecast">
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="weekday" class="day2-text">Wednesday</h5>
                    <div id="sunrise-sunset">
                        <div id="sunrise"><img class="img-fluid" src="assets/img/weather-icons/sunrise.png?h=b312b28556c1b705124ea0abbaa1c5df" width="48px" height="48px">
                            <p id="sunrise-text" class="sunrise-text2">00:00:00 AM</p>
                        </div>
                        <div id="sunset"><img class="img-fluid" src="assets/img/weather-icons/sunset.png?h=529cc9c8326232bf9dd863dca165b944" width="48px" height="48px">
                            <p id="sunset-text" class="sunset-text2">00:00:00 PM</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day2-hour1">10:00 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day2-hour1-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day2-hour1-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day2-hour1-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-21">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-21">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day2-hour2">11:00 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day2-hour2-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day2-hour2-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day2-hour2-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-22">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-22">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day2-hour3">12:00 PM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day2-hour3-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day2-hour3-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day2-hour3-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-23">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-23">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day2-hour4">01:00 PM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day2-hour4-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day2-hour4-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day2-hour4-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-24">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-24">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day2-hour5">01:00 PM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day2-hour5-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day2-hour5-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day2-hour5-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-25">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-25">00.00 ℃</p>
                        </div>
                    </div>
                </div>
            </div><!-- End: Forecast-day-2 -->
            <!-- Start: Forecast-day-3 -->
            <div id="forecast" class="day3-forecast">
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="weekday" class="day3-text">Thursday</h5>
                    <div id="sunrise-sunset">
                        <div id="sunrise"><img class="img-fluid" src="assets/img/weather-icons/sunrise.png?h=b312b28556c1b705124ea0abbaa1c5df" width="48px" height="48px">
                            <p id="sunrise-text" class="sunrise-text3">00:00:00 AM</p>
                        </div>
                        <div id="sunset"><img class="img-fluid" src="assets/img/weather-icons/sunset.png?h=529cc9c8326232bf9dd863dca165b944" width="48px" height="48px">
                            <p id="sunset-text" class="sunset-text3">00:00 :00PM</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day3-hour1">10:10 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day3-hour1-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day3-hour1-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day3-hour1-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-31">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-31">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day3-hour2">10:10 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day3-hour2-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day3-hour2-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day3-hour2-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-32">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-32">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day3-hour3">10:10 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day3-hour3-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day3-hour3-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day3-hour3-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-33">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-33">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day3-hour4">10:10 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day3-hour4-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day3-hour4-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day3-hour4-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-34">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-34">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day3-hour5">10:10 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day3-hour5-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day3-hour5-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day3-hour5-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-35">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-35">00.00 ℃</p>
                        </div>
                    </div>
                </div>
            </div><!-- End: Forecast-day-3 -->
            <!-- Start: Forecast-day-4 -->
            <div id="forecast" class="day4-forecast">
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="weekday" class="day4-text">Friday</h5>
                    <div id="sunrise-sunset">
                        <div id="sunrise"><img class="img-fluid" src="assets/img/weather-icons/sunrise.png?h=b312b28556c1b705124ea0abbaa1c5df" width="48px" height="48px">
                            <p id="sunrise-text" class="sunrise-text4">00:00:00 AM</p>
                        </div>
                        <div id="sunset"><img class="img-fluid" src="assets/img/weather-icons/sunset.png?h=529cc9c8326232bf9dd863dca165b944" width="48px" height="48px">
                            <p id="sunset-text" class="sunset-text4">00:00:00 PM</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day4-hour1">10:10 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day4-hour1-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day4-hour1-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day4-hour1-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-41">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-41">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day4-hour2">10:10 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day4-hour2-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day4-hour2-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day4-hour2-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-42">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-42">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day4-hour3">10:10 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day4-hour3-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day4-hour3-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day4-hour3-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-43">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-43">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day4-hour4">10:10 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day4-hour4-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day4-hour4-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day4-hour4-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-44">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-44">00.00 ℃</p>
                        </div>
                    </div>
                </div>
                <div data-bss-hover-animate="pulse" id="forecast-widgets">
                    <h5 id="forecast-time" class="forecast-day4-hour5">10:10 AM</h5>
                    <div id="hourly-forecast-temp"><img class="img-fluid day4-hour5-image-main" id="hourly-weather-icon" src="assets/img/weather-icons/default.png?h=302761b0fe5041dfb65ccfe4e5c1dba8">
                        <p id="metrics-text" class="forecast-day4-hour5-temp">00℃</p>
                        <div id="forecast-desc">
                            <p class="forecast-day4-hour5-desc">Description</p>
                        </div>
                    </div>
                    <div id="min-max-temp" class="min-max-temp-container">
                        <div id="min-temp"><label class="form-label" for="min-temp">Min</label>
                            <p id="metrics-text" class="min-temp-45">00.00 ℃</p>
                        </div>
                        <div id="max-temp"><label class="form-label" for="max-temp">Max</label>
                            <p id="metrics-text" class="max-temp-45">00.00 ℃</p>
                        </div>
                    </div>
                </div>
            </div><!-- End: Forecast-day-4 -->
        </div><!-- End: forecast-container -->
    </div><!-- End: Master-weather-container -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.min.js"></script>
    <script src="assets/js/bs-init.js?h=ec5d4df3c798a2943b2ecbac76ebfde0"></script>
    <script src="assets/js/api.js?h=b193c5fa7ab8106e51cef3e7efe31cd0"></script>
    <script src="assets/js/app.js?h=3931c9e03401a128d403e40e81957d18"></script>
    <script src="assets/js/icons.js?h=9680039e17743f93c0bc30a24808f33a"></script>
</body>

</html>