<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SkyWise</title>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180"
        href="assets/img/favicons/fav180.png?h=8c450abd01546622678697f22db3dc76">
    <link rel="icon" type="image/png" sizes="16x16"
        href="assets/img/favicons/fav16.png?h=a119ef58c4c7e9dd2f93856383e0c398">
    <link rel="icon" type="image/png" sizes="32x32"
        href="assets/img/favicons/fav32.png?h=2998f2c2ea0b9c9d42fd9f3d643e7530">
    <link rel="icon" type="image/png" sizes="180x180"
        href="assets/img/favicons/fav180.png?h=8c450abd01546622678697f22db3dc76">
    <link rel="icon" type="image/png" sizes="192x192"
        href="assets/img/favicons/fav192.png?h=7562e8d2b690ec58961014a0ccee3003">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=3f30c2c47d7d23c7a994db0c862d45a5">
    <link rel="stylesheet" href="assets/css/Aclonica.css?h=367626b56dc060bacaf8eb1624585097">
    <link rel="stylesheet" href="assets/css/Acme.css?h=c24fe385d4a8bc4328985bce204b8c90">
    <link rel="stylesheet" href="assets/css/Anybody.css?h=cbb8fbdcdcba692baeb21155bb9eb51e">
    <link rel="stylesheet" href="assets/css/Artifika.css?h=e5cc1e4062ddc8928220b65e29f18e20">
    <link rel="stylesheet" href="assets/css/Lato.css?h=6558cded3f44bbaaed0554a823af8c22">
    <link rel="stylesheet" href="assets/css/Montserrat.css?h=1bf296816cf4a2662621eb98dda3b185">
    <link rel="stylesheet" href="assets/css/Orbitron.css?h=db5110360f08bfa0dfede2392affb007">
    <link rel="stylesheet" href="assets/css/Poppins.css?h=62d350c340bc6f4db30619dda8203ab1">
    <link rel="stylesheet" href="assets/css/Roboto.css?h=6ad12ebdf23b877eca203a2165b88c80">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/main.css?h=48e6f923e31bd718c33e238ea055c043">
</head>

<body>
    <div class="login-container">
        <div class="tada animated brand-logo-container">
            <h1>Sky<span>Wise</span></h1>
            <div class="logo-gif-container">
                <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_jmgekfqg.json" mode="bounce"
                    background="transparent" speed="1" loop="" autoplay=""></lottie-player>
            </div>
        </div>
        <div class="input-container"><i class="far fa-user-circle"></i><input type="text" id="username"
                class="login-username-input login-input" placeholder="Username"></div>
        <div class="input-container"><i class="fas fa-key"></i><input type="password" id="password"
                class="login-password-input login-input" placeholder="Password"><i class="fas fa-eye" id="eyeIcon"
                onclick="togglePasswordVisibility(&#39;password&#39;, &#39;eyeIcon&#39;)"></i></div>
        <div class="login-register-button-container"><button class="btn btn-primary login button-control"
                type="button">Login</button><button class="btn btn-primary signup button-control" type="button"
                onclick="location.href =&#39;register.html&#39;">Signup</button></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.min.js"></script>
    <script src="assets/js/bs-init.js?h=ec5d4df3c798a2943b2ecbac76ebfde0"></script>
    <script src="assets/js/loginAuth.js?h=6e30b7cbbf254a31527c34a779b59764"></script>
    <script src="assets/js/auth.js?h=6e30b7cbbf254a31527c34a779b59764"></script>
    <script src="assets/js/passChecker.js?h=786c836da190ab192faba8a2c4461fd5"></script>
</body>

</html>